.text-square {
  height: 50px;
  width: 50px;
  font-size: 20pt;
  background-color: #dddddd;
  margin: 10px;
  text-align: center;
  line-height: 50px;
}

.correct {
  background-color: #33dd00;
}

.incorrect {
  background-color: #aaaaaa;
}

.present {
  background-color: #cccc00;
}
